/* Allgemein */
*{
  font-family: arial;
  text-align: center;
}

.make_it_blue{
  color: #0000FF;
}

/* Maximilian Hofheinz Banner Top */
.headline_1{
  width: 100%;
  height: 10%;
  background-color: #0000FF;
  color: white;
}

.headline_name{
  padding: 2%;
  font-size: 300%;
}

/* Willkommensnachricht mit Profilbild */
.Welcome{
  border-bottom: 2px solid grey;
}

.Profile_picture{
  height: 15%;
  width: 15%;
}

/* F채higkeiten */
.F채higkeiten{
  border-bottom: 2px solid grey;
}

.F채higkeiten_Kasten{

  background-color: #0000FF;
  color: white;
  height: 10%;
  width: 20%;
  border: 5px solid #D0CECE;
}

.h2{
    border: 5px solid #0000FF;
}

.underline{
  text-decoration: underline;
}

/* Lebenslauf */
.Lebenslauf{
  border-bottom: 2px solid grey;
}

/* Erfahrungen */
.Erfahrungen{
  border-bottom: 2px solid grey;
}

/* Interessen */
.Interessen{
  list-style-type: none;
  display: inline;
}

.F채higkeiten{
  display: inline;
}
