/* Allgemein */
*{
  font-family: arial;
  text-align: center;
}

.make_it_blue{
  color: #394F9E;
}

.E-Mail_button{
  background-color: #394F9E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2%;
}

/* Maximilian Hofheinz Banner Top */
.headline_1{
  width: 100%;
  height: 10%;
  background-color: #394F9E;
  color: white;
}

.headline_name{
  padding: 2%;
  font-size: 300%;
}

/* Willkommensnachricht mit Profilbild */
.Welcome{
  border-bottom: 2px solid grey;
}

.Profile_picture{
  height: 15%;
  width: 15%;
  margin-top: 2%;
}

/* Fähigkeiten */
.Fähigkeiten{
  border-bottom: 2px solid grey;
  padding-bottom: 2%;
}

.underline{
  text-decoration: underline;
}

/* Lebenslauf */
.Lebenslauf{
  border-bottom: 2px solid grey;
}

/* Erfahrungen */
.Erfahrungen{
  border-bottom: 2px solid grey;
}

/* Interessen */
.Interessen{
  list-style-type: none;
  display: inline;
}

.Icon{

}
